<div style="padding-top: 5%" class="container">
<h1 id="welcome">Welcome To Scrape Book</h1>
  <form id="search" action='/' method='post'>
    <input type="text" name="item" placeholder="Type your search here">
    <input type="submit" value="Scrape">
  </form>
</div>
<div class="container">
  <div id="breaker">
  </div>
    <div id="item_template" style="display: none;">
      <div class="itemBox">
        <a href="#" target="_blank"><span id="name"></span>
        <img class="image"/>
        <strong class="price"></strong></a>
      </div>
    </div>
  </div>
</div>




