<div class="container">
    <h1>Please Login/Register To Continue</h1>
    <form id="login" action="/login" method="post">
      <label>Email</label>
      <input type="text" name="email">
      <label>Password</label>
      <input type="password" name="password">
      <input type="submit" value="Sign In">
      <a href="/register">Sign Up Here</a>
  </form>
</div>