
<div class="container">
  <form id="register" action="/register" method="post">
    <h1> Please Sign Up Here </h1>
    <label>Input Your Email</label>
    <input type="text" name="email">
    <label>Password Goes Here</label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">
  </form>
</div>
